.film-details {
  padding: 20px;
}

.film-details h2 {
  margin: 50px 0 30px 0;
}

#js-film-details {
  display: none;
}

.details-top {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  list-style-type: none;
}

.details-filmPoster {
  width: 300px;
  height: auto;
  vertical-align: top;
  border: 1px solid black;
}

.details-information {
  width: auto;
  margin: 0 50px;
  vertical-align: top;
}

.details-information h2 {
  margin-top: 0;
}

.details-information p {
  margin-top: 5px;
}

.back-to-home-btn {
  margin-top: 50px;
}

.film-details-people {
  margin: 20px;
}

.details-backdrops,
.details-posters {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style-type: none;
}