* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .6s;
          transition-duration: .6s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.4em;
  color: #000;
  margin: 50px;
}

html {
  scroll-behavior: smooth;
}

a {
  color: #000;
  text-decoration: none;
}

.header {
  font-weight: bold;
  color: darkslateblue;
}

h2 {
  color: darkslateblue;
  font-weight: bold;
}

/* header */
header h1 {
  text-align: right;
}

/* footer */
footer {
  font-size: 12px;
  text-align: center;
  border-top: 2px solid #000;
  padding: 20px 0;
}

.apiLogos {
  width: 6%;
  height: 6%;
  vertical-align: middle;
}

/* button */
button {
  color: darkslateblue;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 200px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
}

button:hover {
  text-decoration: none;
  font-weight: normal;
}

@media only screen and (max-width: 600px) {
  body {
    margin: 10px;
  }
  header img {
    width: 70%;
    height: auto;
  }
  header h1 {
    font-size: 1.5em;
  }
  button {
    font-size: 12px;
  }
}

/* homepage */
.films {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  max-width: 100%;
}

.film {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #000;
  margin: 10px;
  padding: 20px;
  background-color: #ced4da;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
}

.filmPoster {
  margin-right: 20px;
  vertical-align: top;
  border: 1px solid #000;
}

.filmPosterNoImage {
  font-size: 12px;
  margin-right: 20px;
  width: 200px;
  color: red;
}

.filmText h2 {
  margin-bottom: 10px;
  font-size: 30px;
}

.fa-image {
  font-size: 100px;
  color: red;
}

.films img {
  height: auto;
  width: 200px;
}

.moreInfo-button {
  margin-top: 20px;
  border: 0 solid;
  -webkit-box-shadow: inset 0 0 20px rgba(72, 61, 139, 0);
          box-shadow: inset 0 0 20px rgba(72, 61, 139, 0);
  outline: 1px solid;
  outline-color: rgba(72, 61, 139, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
}

.moreInfo-button:hover,
.moreInfo-button:focus {
  border: 1px solid;
  -webkit-box-shadow: inset 0 0 20px rgba(72, 61, 139, 0.5), 0 0 20px rgba(72, 61, 139, 0.2);
          box-shadow: inset 0 0 20px rgba(72, 61, 139, 0.5), 0 0 20px rgba(72, 61, 139, 0.2);
  outline-color: rgba(72, 61, 139, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
}

.summary {
  border: 1px solid #000;
  background-color: darkslateblue;
  padding: 15px 20px;
  margin: 20px 100px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
}

.summary p {
  margin: 10px 0;
  text-align: center;
  color: #ced4da;
  font-size: 24px;
}

@media only screen and (max-width: 750px) {
  .films img {
    height: 50%;
    width: 50%;
  }
  .filmText h2 {
    margin: 10px 0;
    font-size: 20px;
    line-height: 25px;
  }
  .film {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .summary {
    margin: 10px 30px;
  }
  .summary p {
    font-size: 18px;
  }
}

.film-details {
  padding: 20px;
  background-color: #ced4da;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  margin: 20px;
  border: 1px solid #000;
}

.film-details h2 {
  margin: 50px 0 30px 0;
}

#js-film-details {
  display: none;
}

.details-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
}

.details-filmPoster {
  width: 300px;
  height: auto;
  vertical-align: top;
  border: 1px solid #000;
}

.details-information {
  width: auto;
  margin: 0 50px;
  vertical-align: top;
}

.details-information h2 {
  margin-top: 20px;
  font-size: 30px;
}

.details-information p {
  margin-top: 5px;
}

.details-backdrops,
.details-posters {
  background-color: darkslateblue;
  padding: 20px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
}

.back-button {
  margin-top: 50px;
  border: 0 solid;
  -webkit-box-shadow: inset 0 0 20px rgba(72, 61, 139, 0);
          box-shadow: inset 0 0 20px rgba(72, 61, 139, 0);
  outline: 1px solid;
  outline-color: rgba(72, 61, 139, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
}

.back-button:hover,
.back-button:focus {
  border: 1px solid;
  -webkit-box-shadow: inset 0 0 20px rgba(72, 61, 139, 0.5), 0 0 20px rgba(72, 61, 139, 0.2);
          box-shadow: inset 0 0 20px rgba(72, 61, 139, 0.5), 0 0 20px rgba(72, 61, 139, 0.2);
  outline-color: rgba(72, 61, 139, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
}

@media only screen and (max-width: 800px) {
  .details-filmPoster {
    width: 100px;
    height: auto;
    vertical-align: top;
    border: 1px solid #000;
  }
  .details-information {
    margin: 0 10px;
  }
  .details-information h2 {
    font-size: 20px;
    line-height: 25px;
  }
  .details-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=ghibli.css.map */